@charset "UTF-8";
/* Burger Icon VARS */
/* Registration form vars*/
/* Инпуты */
/* Выбор города */
/* Подтверждение условий конкурса */
/* Кнопка */
/* Label */
html {
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

figcaption,
figure,
main {
  /* 1 */
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'SF UI Display Ultralight';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Ultralight"), url("../fonst/sf-ui-display-ultralight-58646b19bf205.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Thin"), url("../fonst/sf-ui-display-thin-58646e9b26e8b.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Light';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Light"), url("../fonst/sf-ui-display-light-58646b33e0551.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"), url("../fonst/sf-ui-display-medium-58646be638f96.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"), url("../fonst/sf-ui-display-semibold-58646eddcae92.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"), url("../fonst/sf-ui-display-bold-58646a511e3d9.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Heavy"), url("../fonst/sf-ui-display-heavy-586470160b9e5.woff") format("woff"); }

@font-face {
  font-family: 'SF UI Display Black';
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Black"), url("../fonst/sf-ui-display-black-58646a6b80d5a.woff") format("woff"); }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  z-index: 1000; }
  @media (min-width: 48em) {
    .header {
      height: 7rem; } }
  .header.inner {
    background: #000; }
  .header--wrapper {
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 48em) {
      .header--wrapper {
        width: 95%;
        max-width: 160rem; } }
  .header__logo {
    width: 45%; }
    @media (min-width: 48em) {
      .header__logo {
        width: auto; } }
    .header__logo img {
      width: 100%;
      max-width: 20rem; }
      @media (min-width: 48em) {
        .header__logo img {
          width: auto;
          max-width: none; } }
  .header__lang {
    position: relative;
    display: inline-block;
    font-size: 1.4rem; }
    .header__lang a {
      cursor: pointer;
      color: #fff;
      display: inline-block; }
    .header__lang span {
      cursor: pointer;
      color: #fff;
      position: relative;
      z-index: 2;
      vertical-align: middle;
      display: inline-block; }
    .header__lang svg {
      position: relative;
      z-index: 2;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      color: #fff;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 2.2rem; }
      @media (min-width: 48em) {
        .header__lang svg {
          font-size: 1.3rem;
          right: auto;
          top: .2rem;
          left: -.5rem; } }
    .header__lang ul {
      width: 6.25rem;
      position: absolute;
      left: -1rem;
      top: -.35rem;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      background: #fff;
      padding: 3rem 1.25rem .65rem 2.75rem;
      -webkit-border-radius: .5rem;
              border-radius: .5rem;
      -webkit-box-shadow: -3px 12px 24px rgba(0, 0, 111, 0.1);
              box-shadow: -3px 12px 24px rgba(0, 0, 111, 0.1); }
      .header__lang ul li a {
        color: #000; }
    .header__lang:last-child {
      margin-right: 0; }
    .header__lang:hover {
      background: #d2d2d2; }
    .header__lang:hover {
      background: transparent; }
      .header__lang:hover span,
      .header__lang:hover svg {
        color: #000; }
      .header__lang:hover ul {
        opacity: 1;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .header__lang:hover svg.icon-arrow-down {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
  .header__controls {
    width: 45%;
    text-align: right; }
    @media (min-width: 48em) {
      .header__controls {
        width: auto; } }
    .header__controls a {
      margin-right: 1.5rem;
      font-size: 1.4rem; }
      @media (min-width: 48em) {
        .header__controls a {
          margin-right: 2.5rem; } }
      .header__controls a:last-child {
        margin-right: 0; }
      .header__controls a:hover {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        .header__controls a:hover svg, .header__controls a:hover span {
          color: #a08f67; }
      .header__controls a svg {
        color: #fff;
        font-size: 2.7rem;
        vertical-align: middle;
        margin-right: .25rem;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        @media (min-width: 48em) {
          .header__controls a svg {
            font-size: 2.1rem; } }
        .header__controls a svg.icon-love {
          font-size: 2.6rem; }
          @media (min-width: 48em) {
            .header__controls a svg.icon-love {
              font-size: 1.8rem; } }
        .header__controls a svg.icon-cabinet {
          font-size: 2rem; }
          @media (min-width: 48em) {
            .header__controls a svg.icon-cabinet {
              font-size: 1.7rem; } }
      .header__controls a span {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        vertical-align: middle;
        color: #fff;
        display: none; }
        @media (min-width: 48em) {
          .header__controls a span {
            display: inline-block; } }

/* Burger Icon VARS */
/* Registration form vars*/
/* Инпуты */
/* Выбор города */
/* Подтверждение условий конкурса */
/* Кнопка */
/* Label */
/* Burger Icon */
.toggle {
  width: 4rem;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0 .5rem; }
  .toggle input {
    display: none; }
    .toggle input:checked + label:before {
      -webkit-animation: animationOne 1s ease forwards;
      animation: animationOne 1s ease forwards; }
    .toggle input:checked + label:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -2px;
      width: 100%;
      height: 0.3rem;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      background: #2e2382; }
    .toggle input:checked + label:after {
      -webkit-animation: animationTwo 1s ease forwards;
      animation: animationTwo 1s ease forwards; }
    .toggle input:checked + label .burger:before {
      -webkit-animation: animationBurgerTop 1s ease forwards;
      animation: animationBurgerTop 1s ease forwards; }
    .toggle input:checked + label .burger:after {
      -webkit-animation: animationBurgerBottom 1s ease forwards;
      animation: animationBurgerBottom 1s ease forwards; }
  .toggle label {
    position: relative;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    background: transparent; }
    .toggle label:before, .toggle label:after {
      content: '';
      position: absolute;
      margin-top: -2px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      background: #2e2382;
      top: 50%;
      width: 100%;
      height: 0.3rem; }
    .toggle label:before {
      -webkit-animation: animationOneReverse 1s ease forwards;
      animation: animationOneReverse 1s ease forwards; }
    .toggle label:after {
      -webkit-animation: animationTwoReverse 1s ease forwards;
      animation: animationTwoReverse 1s ease forwards; }
    .toggle label .burger:before, .toggle label .burger:after {
      content: '';
      position: absolute;
      width: 100%;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: #2e2382;
      height: 0.3rem; }
    .toggle label .burger:before {
      top: 0.9rem;
      -webkit-animation: animationBurgerTopReverse 1s ease forwards;
      animation: animationBurgerTopReverse 1s ease forwards; }
    .toggle label .burger:after {
      bottom: 1rem;
      -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
      animation: animationBurgerBottomReverse 1s ease forwards; }

@-webkit-keyframes animationOneReverse {
  0% {
    -webkit-transform: rotate(315deg); }
  25% {
    -webkit-transform: rotate(360deg); }
  50%, 100% {
    -webkit-transform: rotate(0deg); } }

@keyframes animationOneReverse {
  0% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes animationOne {
  0%, 50% {
    -webkit-transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(315deg); } }

@keyframes animationOne {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); } }

@-webkit-keyframes animationTwoReverse {
  0% {
    -webkit-transform: rotate(405deg); }
  25% {
    -webkit-transform: rotate(450deg); }
  50%, 100% {
    -webkit-transform: rotate(0deg); } }

@keyframes animationTwoReverse {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); }
  25% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes animationTwo {
  0%, 50% {
    -webkit-transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(450deg); }
  100% {
    -webkit-transform: rotate(405deg); } }

@keyframes animationTwo {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg); } }

@-webkit-keyframes animationBurgerTopReverse {
  0%, 50% {
    -webkit-transform: translateY(0.9rem);
    opacity: 0; }
  51% {
    -webkit-transform: translateY(0.9rem);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }

@keyframes animationBurgerTopReverse {
  0%, 50% {
    -webkit-transform: translateY(0.9rem);
            transform: translateY(0.9rem);
    opacity: 0; }
  51% {
    -webkit-transform: translateY(0.9rem);
            transform: translateY(0.9rem);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes animationBurgerTop {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(0.9rem);
    opacity: 1; }
  51%, 100% {
    -webkit-transform: translateY(0.9rem);
    opacity: 0; } }

@keyframes animationBurgerTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(0.9rem);
            transform: translateY(0.9rem);
    opacity: 1; }
  51%, 100% {
    -webkit-transform: translateY(0.9rem);
            transform: translateY(0.9rem);
    opacity: 0; } }

@-webkit-keyframes animationBurgerBottomReverse {
  0%, 50% {
    -webkit-transform: translateY(-0.9rem);
    opacity: 0; }
  51% {
    -webkit-transform: translateY(-0.9rem);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }

@keyframes animationBurgerBottomReverse {
  0%, 50% {
    -webkit-transform: translateY(-0.9rem);
            transform: translateY(-0.9rem);
    opacity: 0; }
  51% {
    -webkit-transform: translateY(-0.9rem);
            transform: translateY(-0.9rem);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes animationBurgerBottom {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-0.9rem);
    opacity: 1; }
  51%, 100% {
    -webkit-transform: translateY(-0.9rem);
    opacity: 0; } }

@keyframes animationBurgerBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(-0.9rem);
            transform: translateY(-0.9rem);
    opacity: 1; }
  51%, 100% {
    -webkit-transform: translateY(-0.9rem);
            transform: translateY(-0.9rem);
    opacity: 0; } }
